In [1]:
#Write a Pandas program to implement following operation
#to create a dataframe from a dictionary and display it

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import numpy as np 
import pandas as pd 

data = {
    'Name': ['tisha','hiral','shreya','prexa'],
    'Age': [18, 17, 15, 13]
}

df = pd.DataFrame(data)
print(df)

     Name  Age
0   tisha   18
1   hiral   17
2  shreya   15
3   prexa   13

In [2]:
#Write a Pandas program to implement following operation
#to sort the DataFrame first by 'name' in ascending order

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import pandas as pd

data = {
    'Name': ['tisha','hiral','shreya','prexa'],
    'Age': [18, 17, 15, 13] 
}

df = pd.DataFrame(data)
df_sorted = df.sort_values(by='Name', ascending=True)

print(df_sorted)

     Name  Age
1   hiral   17
3   prexa   13
2  shreya   15
0   tisha   18

In [3]:
#Write a Pandas program to implement following operation
#to delete the one specific column from the DataFrame

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import pandas as pd

data = {
    'Name': ['tisha','hiral','shreya','prexa'],
    'Age': [18, 17, 15, 13]
}

df = pd.DataFrame(data)
print('Original DataFrame:\n', df)

df = df.drop(columns=['Age'])
print('\nModified DataFrame:\n', df)

Original DataFrame:
      Name  Age
0   tisha   18
1   hiral   17
2  shreya   15
3   prexa   13

Modified DataFrame:
      Name
0   tisha
1   hiral
2  shreya
3   prexa

In [4]:
#Write a Pandas program to implement following operation
#to write a DataFrame to CSV file using tab separator

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import pandas as pd

data = {
    'Name': ['tisha','hiral','shreya','prexa'],
    'Age': [18, 17, 15, 13]
}

df = pd.DataFrame(data)
df.to_csv('output_file.csv', sep='\t', index=False)

print("DataFrame has been written to 'output_file.csv' with tab separator.")

DataFrame has been written to 'output_file.csv' with tab separator.