In [1]:
#Write a Pandas program to implement following operation
#to convert a NumPy array to a Pandas series

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import numpy as np 
import pandas as pd 

array = np.array([6,0])
labels = ["T", "S"]
print("Numpy array:- \n",array)
series = pd.Series(array, index=labels)
print("Pandas Series : \n",series)

Numpy array:-
 [6 0]
Pandas Series :
 T    6
S    0
dtype: int64

In [2]:
#Write a Pandas program to implement following operation
#to convert the first column of a DataFrame 

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import pandas as pd 

xy = pd.DataFrame()
print(xy)
xy = pd.DataFrame({'A':[21,22,23],'B':[64,65,66],})
print("\nDataframe:\n")
print(xy);

Empty DataFrame
Columns: []
Index: []

Dataframe:

    A   B
0  21  64
1  22  65
2  23  66

In [3]:
#Write a Pandas program to implement following operation
#to create the mean and standard deviation of the data of a given Series

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import pandas as pd
s = pd.Series(data = [1, 2, 3,4, 5, 6, 7, 8])
print(s)
print(s.std())
print(s.mean())

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
2.449489742783178
4.5

In [4]:
#Write a Pandas program to implement following operation
#to sort a given Series

# Developed By: Solanki Tisha
# Enrollement No: 216270307062

import pandas as pd
s = pd.Series(data = [2, 1, 3,5, 4, 6, 8, 7])
print(s)
print("\n", s.sort_values())

0    2
1    1
2    3
3    5
4    4
5    6
6    8
7    7
dtype: int64

 1    1
0    2
2    3
4    4
3    5
5    6
7    7
6    8
dtype: int64